<div id="word-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h5>Searched for <code id="search-term"></code></h5>
        <div id="letterizer" class="row col-md-12 letters"></div>

        {{!-- <div class="row col-md-12">
          <div class="row col-md-12">
            <small><b>?</b> tiles highighted in <span style="color:#999">gray</span>.</small><br />
          </div>
          <div class="row col-md-12">
            <small><b>(*)</b> matches highighted in <span style="color:#7ca6e8">blue</span>.</small><br />
          </div>
          <div class="row col-md-12">
            <small><b>"*"</b> matches highighted in <span style="color:#d28080">pink</span>.</small>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</div>

<script src="/scripts/word-modal.js"></script>