<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
  {{> head }}

  </head>

<body>
    {{> lux-navbar}}
    
    <div class="container">
      {{{body}}}
    </div>
    
    {{> source-modal }}
    
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/custom.js"></script>
</body>

</html>