<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  {{> head }}

  </head>
<body>
    {{> navbar}}
    
    <div class="container" style="padding-top: 7em;">
      {{{body}}}
    </div>

    {{> word-modal }}
    
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/custom.js"></script>
</body>

</html>