<div class="bs-docs-section">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="buttons">How to Lux</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="btn-group-vertical">
        {{{luxes}}}
      </div>
    </div>
  </div>
</div>