body{
margin: 0;
font-size: 2rem;
}
.words {
  margin: 0.4em 0.2em;
  padding: 0.2em 0.4em;
  display: inline-block!important;
  background-color: rgba(0,0,0,0.03);
}
.letters > letter {
  border-radius: 0.7em;
  border: solid 3px;
  border-color: rgba(0,0,0, 0.8);
  background-color: rgb(222, 177, 0);
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.5em 0.8em;
  margin: 0.3em;
  font-size: 1.5rem;
  font-weight: 600;
}
.letters > letter > sub {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(66, 66, 66, 0.86);
  font-size: 1vw;
  bottom: -0.75vw;
  right: -0.75vw;
}
.letters .word-value {
  font-size: 1em;
  border-radius: 0.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: black;
  color: white;
}
letter.variable, letter.search, letter.match {
  font-style: italic;
  border-color: black;
}
letter.variable {
  background-color: #999;
}
letter.search {
  background-color: #d28080;
}
letter.match {
  background-color: #7ca6e8;
}

#faq {
  cursor: pointer;
  opacity: 0.9;
}
#faq:hover {
  opacity: 1;
}
u {
text-decoration: underline;
  font-weight: bold;
}
code > u {
  color: #e83ee5;
}
.accord {
  cursor: pointer;
}
.accord::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f0d8';
}
.accord.collapsed::before {
  content: '\f0d7';
}